<h1 class="text-center animated fadeIn fast">Deudas - Tasa por Servicios Generales</h1>
<hr>
<app-loading *ngIf="loading"></app-loading>
<app-error-plantilla *ngIf="error"></app-error-plantilla>
<div *ngIf="!loading && !error">
    <div *ngIf="foundCuenta" class="row animated fadeIn">
        <div class="col-12 text-left">
            <h3><b>Partida:</b> {{ cuenta.identificador }}</h3>
            <h3><b>Titular:</b> {{ cuenta.titular }}</h3>
        </div>
        <div *ngIf="foundDeuda" class="col-12">
            <h2 class="text-center">Deudas</h2>
        </div>
        <div *ngIf="foundDeuda" class="col-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Periodo</th>
                        <th>Importe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let deuda of deudas">
                        <td>{{ deuda.periodo }}/{{ deuda.anio }}</td>
                        <td>{{ deuda.saldo | currency:'ARS':'symbol-narrow' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="foundDeuda" class="col-6 m-2 text-center">
            <button class="btn btn-primary btn-lg" (click)="imprimir( cuenta, deudas )"><i class="fas fa-print"></i> Imprimir boleta</button>
        </div>
        <div *ngIf="foundDeuda" class="col-5 m-2 text-center">
            <button class="btn btn-secondary btn-lg" routerLink="/home"><i class="fas fa-home"></i> Volver al inicio</button>
        </div>
        <div *ngIf="!foundDeuda" class="col-12 m-5 text-center">
            <h2>Usted no posee deudas.</h2>
        </div>
        <div *ngIf="!foundDeuda" class="col-12 m-5 text-center">
            <a routerLink="/home" class="btn btn-secondary btn-lg btn-block"><i class="fas fa-home"></i> Volver al inicio</a>
        </div>
    </div>
    <div *ngIf="!foundCuenta" class="row animated fadeIn">
        <div class="col-12 text-center">
            <h2>LA PARTIDA INGRESADA NO ES VÁLIDA</h2>
        </div>
        <div class="col-6 text-center">
            <a routerLink="/tasa-servicio-general/deuda" class="btn btn-primary btn-lg btn-block"><i class="fas fa-backward"></i> Volver a intentar</a>
        </div>
        <div class="col-6 text-center">
            <a routerLink="/home" class="btn btn-secondary btn-lg btn-block"><i class="fas fa-home"></i> Volver al inicio</a>
        </div>
    </div>
</div>