<h1 class="text-center animated fadeIn fast" id="titulo">¡Bienvenido! Seleccione una opción</h1>
<div class="row" class="animated fadeIn" id="menu-home">
    <div class="col-12 m-2">
        <a routerLink="/tasas" class="btn btn-primary btn-lg btn-block">Consultar Tasas</a>
    </div>
</div>
<div style="display: none" class="container" id="update">
    <div class="row">
        <div class="col-12 messages text-center" id="messages">

        </div>
    </div>
</div>