<app-navbar></app-navbar>
<div class="container">
    <router-outlet *ngIf="isConnected"></router-outlet>
    <div *ngIf="!isConnected" class="row">
        <div class="text-center">
            <img class="w-50" src="assets/img/no-wifi.png" alt="Sin conexión">
            <h1>No hay conexión a internet.</h1>
            <h2>El sistema automáticamente reanudará cuando haya conexión.</h2>
        </div>
    </div>
</div>