<h1 class="text-center animated fadeIn fast" id="titulo">Seleccione la tasa que desea consultar</h1>
<div class="animated fadeIn" id="menu-home">
    <div class="row m-2">
        <div class="col-6">
            <a routerLink="/tasa-servicio-general" class="btn btn-primary btn-lg btn-block">Servicios generales</a>
        </div>
        <div class="col-6">
            <a routerLink="/patentes-motos" class="btn btn-primary btn-lg btn-block">Patente motos</a>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-6">
            <a routerLink="/patentes-autos" class="btn btn-primary btn-lg btn-block">Patente autos</a>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            <a routerLink="/home" class="btn btn-secondary btn-lg btn-block">Volver al inicio</a>
        </div>
    </div>
</div>