<h1 class="text-center animated fadeIn fast">Tasa por Servicios Generales</h1>
<hr>
<app-loading *ngIf="loading"></app-loading>
<app-error-plantilla *ngIf="error"></app-error-plantilla>
<div *ngIf="!loading && !error">
    <div *ngIf="foundCuenta" class="row animated fadeIn">
        <div class="col-12 text-left">
            <h3><b>Partida:</b> {{ cuenta.identificador }}</h3>
            <h3><b>Titular:</b> {{ cuenta.titular }}</h3>
        </div>
        <div *ngIf="foundDeuda" class="col-12 text-center">
            <h3 class="text-center periodo"><b>{{ deuda.periodo }}/{{ deuda.anio }}</b></h3>
        </div>
        <div *ngIf="foundDeuda" class="col-12">
            <h3 *ngIf="vencimiento > fechaHoy; else second">Fecha de vencimiento: {{ deuda.fechaVencimiento | date:'dd/MM/yyyy' }}</h3>
            <ng-template #second>
                <h3 *ngIf="fechaHoy < vencimiento2; else third">Fecha vencimiento: {{ deuda.fechaVencimiento2 | date:'dd/MM/yyyy' }}</h3>
            </ng-template>
            <ng-template #third>
                <h3>Fecha vencimiento: {{ lastDay | date:'dd/MM/yyyy' }}</h3>
            </ng-template>
        </div>
        <div *ngIf="foundDeuda" class="col-12">
            <div class="row">
                <div class="col">
                    <h3 class="text-left importe"><b>Importe:</b></h3>
                </div>
                <div class="col">
                    <h3 class="text-right importe"><b>{{ deuda.importe | currency:'ARS':'symbol-narrow' }}</b></h3>
                </div>
            </div>
            <div *ngIf="deuda.actualizacion" class="row">
                <div class="col">
                    <h3 class="text-left importe"><b>Recargo:</b></h3>
                </div>
                <div class="col">
                    <h3 class="text-right importe"><b>{{ deuda.actualizacion | currency:'ARS':'symbol-narrow' }}</b></h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="text-left importe"><b>Total:</b></h3>
                </div>
                <div class="col">
                    <h3 class="text-right importe"><b>{{ deuda.saldo | currency:'ARS':'symbol-narrow' }}</b></h3>
                </div>
            </div>
        </div>
        <div *ngIf="foundDeuda" class="col-6 m-2 text-center">
            <button class="btn btn-primary btn-lg" (click)="imprimir( cuenta, deuda )"><i class="fas fa-print"></i> Imprimir boleta</button>
        </div>
        <div *ngIf="foundDeuda" class="col-5 m-2 text-center">
            <button class="btn btn-secondary btn-lg" routerLink="/home"><i class="fas fa-home"></i> Volver al inicio</button>
        </div>
        <div *ngIf="!foundDeuda" class="col-12 m-5 text-center">
            <h2>El periodo actual no se encuentra disponible para imprimir.</h2>
        </div>
        <div *ngIf="!foundDeuda" class="col-12 m-5 text-center">
            <a routerLink="/home" class="btn btn-secondary btn-lg btn-block"><i class="fas fa-home"></i> Volver al inicio</a>
        </div>
    </div>
    <div *ngIf="!foundCuenta" class="row animated fadeIn">
        <div class="col-12 text-center">
            <h2>LA PARTIDA INGRESADA NO ES VÁLIDA</h2>
        </div>
        <div class="col-6 text-center">
            <a routerLink="/tasa-servicio-general/actual" class="btn btn-primary btn-lg btn-block"><i class="fas fa-backward"></i> Volver a intentar</a>
        </div>
        <div class="col-6 text-center">
            <a routerLink="/home" class="btn btn-secondary btn-lg btn-block"><i class="fas fa-home"></i> Volver al inicio</a>
        </div>
    </div>
</div>