<div class="row m-3">
    <div class="col-4" *ngFor="let i of ['1','2','3']">
        <button type="button" (click)="getInput(i)" class="btn btn-primary btn-lg">{{ i }}</button>
    </div>
</div>
<div class="row m-3">
    <div class="col-4" *ngFor="let i of ['4','5','6']">
        <button type="button" (click)="getInput(i)" class="btn btn-primary btn-lg">{{ i }}</button>
    </div>
</div>
<div class="row m-3">
    <div class="col-4" *ngFor="let i of ['7','8','9']">
        <button type="button" (click)="getInput(i)" class="btn btn-primary btn-lg">{{ i }}</button>
    </div>
</div>
<div class="row m-3">
    <div class="col-4">
        <button type="button" (click)="getInput('0')" class="btn btn-primary btn-lg">0</button>
    </div>
    <div class="col-8">
        <button type="button" (click)="borrar()" class="btn btn-primary btn-lg"><i class="fas fa-backspace"></i></button>
    </div>
</div>