<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/img/logo-brown.png" class="d-inline-block align-top" alt="Municipalidad de Almirante Brown">
    </a>
</nav>