<h1 class="text-center animated fadeIn fast">Impuesto automotor</h1>
<hr>
<div class="row animated fadeIn">
    <div class="col text-center">
        <div class="row">
            <div class="form-group col-12">
                <input (input)="onInputChange($event)" class="input form-control form-control-lg text-right" value={{value}} placeholder="Ingrese su patente" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="simple-keyboard"></div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6 text-left">
                <a routerLink="/tasas" class="btn btn-danger btn-lg">Regresar</a>
            </div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-primary btn-lg" (click)="verDetalle( value )">Continuar</button>
            </div>
        </div>
    </div>
</div>