<h1 class="text-center animated fadeIn fast">Tasa por Servicios Generales</h1>
<hr>
<div class="row animated fadeIn">
    <div class="col text-center">
        <div class="row">
            <div class="form-group col-12">
                <input type="text" [value]="display" readonly class="form-control form-control-lg text-right" id="partida" placeholder="Ingrese su partida">
            </div>
            <div class="col-6 text-left">
                <a routerLink="/tasa-servicio-general" class="btn btn-danger btn-lg">Regresar</a>
            </div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-primary btn-lg" (click)="verDetalle( display )">Continuar</button>
            </div>
        </div>
    </div>
    <app-panel-partida (numeroSeleccionado)="updateInput( $event )" (activarBorrar)="deleteInput()" class="col text-center botonera"></app-panel-partida>
</div>