<h1 class="text-center animated fadeIn fast" id="titulo">Seleccione qué desea consultar</h1>
<div class="row" class="animated fadeIn" id="menu-home">
    <div class="col-12 m-2">
        <button routerLink="/tasa-servicio-general/actual" class="btn btn-primary btn-lg btn-block">Periodo actual</button>
    </div>
    <div class="col-12 m-2">
        <button routerLink="/tasa-servicio-general/deuda" disabled="disabled" class="btn btn-primary btn-lg btn-block">Deudas</button>
    </div>
    <div class="col-12 m-2">
        &nbsp;
    </div>
    <div class="col-12 m-2">
        <a routerLink="/home" class="btn btn-secondary btn-lg btn-block">Volver al inicio</a>
    </div>
</div>