<div class="row text-center animated fadeIn">
    <div class="col m-5">
        <h2>No hay sistema por el momento.</h2>
        <h2>Estamos trabajando en solucionar el inconveniente.</h2>
    </div>
</div>