body {
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #0078bf;
    font-weight: 700;
}

.btn {
    font-size: 2.5em;
}

.btn-primary {
    font-size: 2.5em;
    background-color: #0078bf;
    border-color: #0078bf;
}

.btn-primary:hover {
    background-color: #0078bf;
    border-color: #0078bf;
}

.btn-primary:disabled {
    background-color: #1d63af;
    border-color: #1d63af;
}

.botonera button {
    width: 100%;
}

.bg-dark {
    background-color: #f5f5f5!important;
}

.form-control-lg {
    font-size: 2.5em;
}

.periodo {
    font-size: 3.5rem;
}

.importe {
    font-size: 2.5rem;
}

.form-control[readonly] {
    background-color: #ffffff;
}

.vencida {
    color: #dc3545;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/** teclado **/

.simple-keyboard.hg-theme-default {
    background-color: rgba(0, 0, 0, 0) !important;
}

.simple-keyboard.hg-theme-default .hg-button {
    background: #0078bf !important;
    border-bottom: #0078bf !important;
    color: #FFF;
    height: 65px !important;
    font-size: 2rem !important;
}